@fontface {
    src: url("fonts/Fleftex_M.ttf");
}

#text {
   -fx-font-family: 'Fleftex';
   -fx-background-color: rgb(142,137,42);
   -fx-border-width:  1px;
   -fx-border-color: black;
   -fx-border-radius: 6px;
   -fx-background-clip: padding-box;
   -fx-background-radius: 6px;
   -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 16, 0.7, 0.0, 0.0); 
}

#list {
    -fx-font-family: 'Fleftex';
    -fx-background-color: rgb(142,137,42);
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 30, 0.7, 0.0, 0.0);
}

#anchor {
    -fx-background-color: rgb(26,26,26);
}

.operationButtons {
    -fx-background-color: rgb(36,62,62);
}

#delButton {
    -fx-background-color: rgb(200,0,7);
}

#insButton {
    -fx-background-color: rgb(252,44,7);
}

.numberButtons {
    -fx-background-color: rgb(86,86,86);
}

.compButtons {
    -fx-background-color: #60199e;
}

.signButtons {
    -fx-background-color: #000033;
}

.list-view .list-cell {
    -fx-background-color: rgb(142,137,42);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-text-fill: #60199e;
}
